<h2>{{title}}</h2>

<!--
The action helper allows you to add event listeners to elements and call named
functions. By default, the action helper adds a click event listener, but it can
be used to listen for any element event.

Now, when the li element is clicked a showPerson function will be called from
the actions object in the people-list component. Think of this like calling
this.actions.showPerson(person) from our template.
-->
<ul>
  {{#each people as |person|}}
    <li {{action "showPerson" person}}>{{person}}</li>
  {{/each}}
</ul>
