<!-- This template is always on screen while the user has your application loaded -->
<h1>People tracker</h1>

<!-- The outlet means that any nested route will be rendered in that place: -->
{{outlet}}
